@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin:auto;
}

header{
	width:1200px;
	height:100px;
	margin:auto;
}

section{
	height:700px;
}

.upload{
	width:400px;
	height:150px;
	margin:auto;
}

.logo{
	width:600px;
	height:700px;
	margin:auto;
}
.login-box1{
	width:600px;
	height:700px;
}

.content{
	height:600px;
}

.content > .login-box{
	width:400px;
}

.login{
	width:50px;
}

footer{
	height:60px;
}